
.nav{
    list-style-type: none;
    margin: 0;
    padding: 30px;
    font-size: 0px;
    background-color: rgb(94, 118, 123)
    ;
  } 

  .li1,.li1m{
    display: inline-block;
    height: 100%;
    padding: 25px;

  }

  .li1{
    font-size: 22px;
    font-family:fantasy;
  }

  .li1m{
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  .lia1{
    font-size: 15px;
    text-decoration: none;
    color: rgb(255,238,219);
    padding: 45px;
  }





body{
    background-color:rgb(255,238,219);
}


.lia1:hover{
    color: #746a5f;}


.slogan{
  width: 400px;
  border: 35px solid rgb(217, 217, 217);
  padding: 80px;
  padding-left: 0%;
  padding-top: 20%;
  padding-bottom: 0px;
  margin: 60px;
  background-color: rgb(217, 217, 217); ;
}
.slogan2{
    width: 600px;
    height: 300px;
   border: 15px solid rgb(163, 119, 116); 
   padding: 50px;
   margin: 80px;
   background-color: rgb(163, 119, 116); 
   position:relative;left:-20px;  top: -56px;
 }

 .slogan,.slogan2{
    display:inline-block
 }

 .logo{
  width: 100px;
  height: 100px;
  position:relative;top: 20px;
  
 }

 .mission {
  width: 700px;
  border-left: #746a5f;
  border: 20px;
  text-align:left;
}