
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    font-size: 0px;
    background-color: rgb(94, 118, 123);
  } 

  .li1,.li1m{
    display: inline-block;
    height: 100%;
    padding: 25px;

  }

  .li1{
    font-size: 22px;
    font-family:fantasy;
  }

  .li1m{
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  .lia1{
    font-size: 15px;
    text-decoration: none;
    color: rgb(255,238,219);
    padding-left: 70px;
    justify-content: right;
    margin: 5px;
  }

  
body{
  background-color:rgb(255,238,219);
}


.lia1:hover{
    color: #746a5f;}


.slogan, .aboutSlogan{
  width: 400px;
  border: 35px solid rgb(217, 217, 217);
  padding: 20px;
  padding-left: 0%;
  padding-top: 0%;
  padding-bottom: 10px;
  margin: 60px;
  text-align:initial;
  background-color: rgb(217, 217, 217); 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-size: larger;
  font-weight: bolder;
  float: calc(100% - 100px);

}
.slogan2{
    width: 600px;
    height: 300px;
   border: 15px solid rgb(163, 119, 116); 
   padding: 50px;
   margin: 80px;
   background-color: rgb(163, 119, 116); 
   position:relative;left:-20px;  top: -56px;
 }

.pricing{
  text-align: left;
  padding-left: 25px;
  font-size:larger;
}

.pricingsub{
  text-align: left;
  padding-left: 25px;
  padding-right: 20px;
  font-size: small;
}


.slogan, .slogan, .aboutSlogan {
  display:inline-block;
}

 .logo{
  width: 100px;
  height: 100px;
  position:relative;top: 20px;
  
 }

 
 .mission{
  width: 700px;
  border-left: #746a5f;
  border: 20px;
  text-align: justify;
  text-align:left;
  font-size: medium;
  font-family:'Arial';
  padding: 25px 50px 60px 30px; ;
  margin: 0px;
}

.section {
font-size:xx-large;
font-stretch: normal;
font-style: initial;
font-display:initial;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight:400;
color: rgb(174, 131, 131);
}

.name {
font-size:x-large;
font-stretch:semi-expanded;
font-style:normal;
font-display:initial;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 200;
color: rgb(94, 118, 123);
}


.product{
  width: 700px;
  border-left: #746a5f;
  border: 20px;
  text-align: justify;
  text-align:left;
  font-size: medium;
  font-family:'Arial';
  padding: 25px 50px 100px 30px; ;
  margin: 0px;

}


.feedback{
  color: rgb(194, 194, 191);
  text-decoration: none;

}
.feedback:hover{
  color: black;
}

.panel{
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
}

.Team-Content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  margin-top: 4rem;
  border-radius: 50%;
}
.header{
  background : linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(\Image\image1.jpg);
  height: 100vh;
  text-align: center;
  padding: 0px;
  display: table;
  width: 100%
}